<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Otello</title>
    <link rel="icon" href="~/assets/Otello-logo.ico"/>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Otello.styles.css" asp-append-version="true" />
    
</head>
<body class="">
    <header>

       @*  <partial name="Navbar" /> *@
        @await Component.InvokeAsync("Navbar")

        @* <vc:NavbarViewComponent myId="3"></vc:NavbarViewComponent> *@
        <partial name="SecondaryNavbar" />
    </header>

    <div class="container-fluid p-0 position-relative ">
        <div id="dropdown-overlay" class="">
        </div>
        <main role="main" class="" style="padding-bottom: 150px;">
            @RenderBody()
        </main>
    </div>
    <footer id="myfooter" class="bg-dark border-top footer text-muted text-light d-flex flex-direction-column">
        <div class="container position-relative d-flex justify-content-center" style="width: fit-content;">
            <div class="text-light me-5" >
                <h4>Other stuff:</h4>
                
                <h6 class=" "><a class="text-light" href="https://austinpennartz.net">My Portfolio</a></h6>
                <h6 class=" "><a class="text-light" href="https://binge-ify.netlify.app">Binge-ify</a> - A React.js site</h6>
                <h6 class=" "><a class="text-light" href="https://austinpennartz.net/HotelWebsite">Travelonics</a> - A LEMP app.</h6>
            </div>
            <div class="text-light me-5">
                <h4>Im on:</h4>

                <h6 class=" "><a class="text-light" href="https://github.com/apenn996">Github</a></h6>
                
            </div>
            <h6 style="bottom: 0px; position: absolute;"class=" text-light">Made by Austin Pennartz</h6>
           
        </div>
       
    </footer>
    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
   
    <script type="text/javascript">
        var evt = new Event(),
            m = new Magnifier(evt);
        m.attach({
            thumb: '#thumb',
            large: document.getElementById('product-display-image').src,
            mode: 'inside',
            zoom: 2.3,
            zoomable: true
        });
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
