html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}


html {
  position: relative;
  min-height: 100%;
}
a{
   
}
body {
  margin-bottom: 60px;

}

.text {
    color: white;
}

.plain-list {
    list-style-type: none;
    padding: 0%;
    margin: 0%;
}

/* - NAVBARS - */
#dropdown-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 10;
    visibility: hidden;
    opacity: 0%;
    transition: all .3s ease;
    background-color:black;
}
#dropdown-overlay.overlay-anim {
    opacity: 80%;
   visibility: visible;
}

#shoppingCart{
    height: 30px;
    width: 30px; 
}
.accordion-item{
    border-right: none;
    border-left: none;
}
#shoppingCartQuantity {
    height: 20px;
    width: 20px;
    border-radius: 100%;
    position: absolute;
    top: 3px;
    right: 10px;
    background-color: #da7635;
}
.row{
    padding: 0px !important;
}
    #shoppingCartQuantity p {
      
    }
.mynav-link {
    text-decoration: none;
    color: white;
}
.navlink-container {
    border-radius: 35px;
    min-width: 70px;
    padding: 15px;
    margin-right: 10px;
    height:50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .navlink-container:hover {
        background-color: #334d2f;
    }

.secondary-navlink-container {
    border-radius: 35px;
}
.secondary-navlink-container:hover {
    background-color: #334d2f;
}
.navbar {
    background-color: #4f734b !important;
}
.not-allowed{
    cursor: not-allowed !important;
   
}
.navlink-dropdown{
    border-radius:10px;
    padding: 7px;
    margin: 0px;
    min-width: 100%;
    width: auto;
    text-align: left;
    
}
.navlink-dropdown-item:hover {
    background-color: lightgray;
    border-radius: 10px;
}
.secondary-list-item{
    
    color: black !important;
    display: block;
    min-width: 100%;
    padding: 5px;
    text-decoration: none !important;
    border-radius: 10px;

}
.secondary-list-item:hover {
    color: black;
    background-color: lightgray;
    
}
#avatar-img{
    height: 20px;
    margin: 5px;
}

#secondary-nav{
    height: 40px;
    text-decoration: none;  
}

#secondary-nav li {
    margin-right: 20px;
}

#secondary-nav a:hover {
        color: white;
        text-decoration: underline;
}

.fit{
    width:fit-content;
}
.product-image {
    width: 100%;
    max-height: 290px;
    min-height: 200px;
    object-fit: contain;
}
.product-image:hover{
   
}
.plain-link {
    color: white;
    text-decoration: none;
}
.plain-link:hover {
    color: white;
    text-decoration: none;
}
.product-link{
    
    padding: 0px;
    margin: 0px;
}
.product-card {
    width: 29%;
    min-height: 300px;
    /*max-height: 400px;*/
    padding-left: 2%;
    padding-right: 2%;
}
.product-circle {
    width: 210px;
    height: 260px;
    margin: 30px;
    padding: 0px;  
    overflow: hidden;

}
    .product-circle div  {

        border-radius: 100%;
        width: 210px;
        height: 210px;
    }
    .product-circle a {
        text-decoration: none;
           width: 100%;
    }
    .product-circle a h5{
       padding-top: 20px
    }
    .product-circle a:hover *{
        text-decoration: underline;
    }
.product-circle div a img{
    object-fit: cover;
    border-radius: 100%;
    width: 100%;
    height: 100%;
}
.product-overlay {
    width: 100%;

    height: 100%;
    z-index: 9;
    right: 0px;
    position: absolute;
    background: rgb(0,0,0);
    background: linear-gradient(270deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.7736344537815126) 33%, rgba(0,0,0,0.499124649859944) 70%, rgba(0,0,0,0) 95%);
}
.hero-button{
    width: 100px;
    height: 40px;
    border-radius: 0px;
}
.hero-button:hover {
    background-color: transparent;
    color: white;
}
.overlay-text-container{
    position: relative;
    right: -30%;
}
.half-block{
    height: 350px;
   
    width: 49%;
    
}
.tests {
    position: sticky;
    top: 10px;
   
    display: flex;
    justify-content: start;
    align-self: flex-start;
    height: auto;
    max-height: 750px;
}
.test{
    width: fit-content;
}
.half{

}
.full-block{
    
    background-color: blue;
    height: 350px;
    width: 100%;
}
.product-display-list-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 12px;
}
.product-display-list {
  
    width: 100%;
    height: 100%;
    overflow: hidden;
    overflow-y: auto;
    display: flex;

}
    .product-display-list::-webkit-scrollbar {
        display: none;
    }

.horizontal-product-list {
    width: 100%;
    height: 100%;
    overflow: hidden;
    overflow-x: auto;
    display: flex;
}

.horizontal-product-list-image {
    width: 300px;
    height: 300px;
    border-radius: 15px;
    object-fit: cover;
}
.tip {
    width: 100%;
    border-radius: 15px;
    
    height: 90px;
    box-shadow: 1px 1px 4px 1px lightgray
}
.my-pad{
    padding: 30px;
}

.signup-button{
    border-radius: 150px;
    padding: 15px;
    margin: 15px;
    border: 1px solid black;
}
.signup-button:hover {
    border: 2px solid black;
    padding: 14px;
}
    /* Hide scrollbar for IE, Edge and Firefox */
    .product-display-list {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
.product-display-list li{
    margin-bottom: 8px;
    border-radius: 14px;
    margin-right: 8px;
    position:relative;
}
    .product-display-list-image:hover {
        border: 1px solid black;
        cursor: pointer;
        opacity: .8;
    }
.tocart-button {
    width: 100%;
    height: 60px;
    display: flex;
    flex-wrap: wrap;
    text-decoration: none;
    justify-content: center;
    align-content: center;
    background-color: #da7635;
    border-radius: 100px;
    border: 1px solid black;
}
.checkout-button {
    width: 100%;
    height: 40px;
    display: flex;
    flex-wrap: wrap;
    text-decoration: none;
    justify-content: center;
    align-content: center;
    background-color: #da7635;
    border-radius: 100px;
    border: 1px solid black;
}
.checkout-button .h5 {
   margin: 0px !important;
   padding: 0px !important;
}
.tocart-button p {
   
}
.tocart-button:hover {
    background-color: #965124;
}
#product-display-image {
    border-radius: 14px;
    width: 100%;
    height: fit-content;
}
.cart-image{
    height: 210px;
    
    object-fit: cover;
    width: 100%;
    display:block;
}
.cart-summary {
    position: sticky;
    top: 50px;
    min-height: 100%;
    
    align-self: flex-start;
    
    
}
.cart-item{
    border-top: 1px solid grey;
    width: 100%;
    min-height: 200px;
   
    
    margin-bottom: 20px;
    margin-top: 20px;
    padding-bottom: 20px !important;
    padding-top: 20px !important;
}

.color-list{
    list-style-type: none;
    display:  flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    padding: 0px;

}
.color-list-item {
    /*background-color: black;*/
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 5px;
    overflow: hidden;
}
    .color-list-item img:hover {
        border: 1px solid black;
        border-radius: 12px;
      /*  opacity: .8;*/
    }
    .color-list-item img {
        object-fit: contain;
       
        height: 124px;
        
    }
    .size-list {
        list-style-type: none;
        display: flex;
       
        flex-wrap: wrap;
        width: 100%;
        height: auto;
        padding: 0px;
    }

.size-list-item {
    background-color: #f6f6f6;
    border-radius: 12px;
   
    margin: 5px;
    overflow: hidden;
    width: 100px;
    height: 50px;
}
.size-list-item h5{
    color:black;
    
  height: min-content;
  margin: 0px;
  padding: 0px;
}

        .size-list-item:hover {
            border: 1px solid black;
           
            opacity: .8;
        }

.fill{
    height: 100%;
    width: 100%;
}

.selected{
    border: 1px solid red;
    border-radius: 12px;
}

.myaccordian {
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
   
}
.accordion-button:not(.collapsed) {
    background-color: white !important;
    color: black;
}


.rating {
    display: inline-block;
    
    color: gray;
    font-size: 25px;
    height: 35px;
    width: auto;
    margin: 0;
    position: relative;
    padding: 0;
}

.rating-upper {
    color: black;
    padding: 0;
    position: absolute;
    z-index: 1;
    display: flex;
    top: 0;
    left: 0;
    overflow: hidden;
}

.rating-lower {
    padding: 0;
    display: flex;
    z-index: 0;
}
.review-name{
    overflow: hidden;
    max-width: 250px;
    text-overflow: ellipsis;
}
.review-input{
    border-radius: 12px;
    border: 1px solid black;
    height: 40px;

}
.review-operation-icon{
    height: 25px;
    width: 25px;
   
    

}
.review-message{
    width: 90%;
    height: auto;
}
.transparent-submit {
    border: 0px;
    background: transparent;
}
    .review-operation-icon:hover {
        border-radius: 2px;
        -webkit-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.75);
    }
.x{
    background-image: url("~/assets/x-icon.png");
}

.test23{
    display: none;
}



.deals-grid {
    height: 1100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 30px;
    padding: 30px;
   
}

.deals-grid-item {

    border-radius: 15px;
    cursor: pointer;
    display: flex;
    overflow: hidden;
    transition: all .2s ease-out ;
    position: relative;
}

.deals-grid-item:hover{
   transform: translateY(-10px);
    color: black;
}

.thumbnail-images{
    position: relative;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.thumbnail-header{
    position: absolute;
    z-index: 9;
    padding: 20px;
    
    font-size: 45px;   
}
.underline{
    text-decoration: underline;
}








.filter-button {
    background-color: #da7635;
    border: none;
    
    width: 100%;
    height: 40px;
    border-radius: 12px;
}

.filter-button:hover{
    background-color: black;
}









/* ARROW SCROLLER */

.cover {
    position: relative;
    padding: 0px 30px;
    
}

.left {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 999;
}

.right {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 999;
}

.scroll-images {
    position: relative;
    width: 100%;
    padding: 0px 0px;
    height: auto;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}

.child {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 250px;
    height: 200px;
    padding: 0px 15px;
    margin: 1px 10px;
    border: 1px solid #f1f1f1;
    overflow: hidden;
    -webkit-box-shadow: 0px 0px 15px 2px rgb(0 0 0 / 10%);
    
    box-shadow: 0px 0px 15px 2px rgb(0 0 0 / 10%);
    
}

    .child img, .child > svg {
        position: absolute;
        margin-top: -195px;
        width: 80px;
        height: 80px;
        object-fit: cover;
        object-position: center;
        border-radius: 50%;
        background: #03A9F4;
    }

.scroll-images::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    background-color: #aaa;
}

.scroll-images::-webkit-scrollbar-thumb {
    background-color: black;
}

button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    
}
.dim{
    background-color: white;
}
.dim:active{
    background-color: lightgrey;

}














        /* PRODUCT DISPLAY */
#thumb {
    border-radius: 12px;
    width: 100%;
    height: auto;
    max-height: 750px;
    object-fit: contain;
}

.img-magnifier-glass {
    position: absolute;
    border: 1px solid #000;
    
    cursor: none;
    /*Set the size of the magnifier glass:*/
    width: 300px;
    height: 300px;
}


.magnifier-thumb-wrapper {
    position: relative;
    display: block;
    top: 0;
    left: 0
}

.magnifier-lens {
    position: absolute;
    border: solid 1px #ccc;
    z-index: 1000;
    top: 0;
    left: 0;
    overflow: hidden
}

.magnifier-loader {
    position: absolute;
    top: 0;
    left: 0;
    border: solid 1px #ccc;
    color: #fff;
    text-align: center;
    background: transparent;
    background: rgba(50, 50, 50, 0.5);
    z-index: 1000;
   
}

.magnifier-loader-text {
    font: 13px Arial;
    margin-top: 10px
}

.magnifier-large {
    position: absolute;
    z-index: 100;
   
}
#thumb-lens{
    border: 2px solid black;
    transform: scale(.8);
  
}
.magnifier-preview {
    padding: 0;
    width: 100%;
    height: 150px;
    position: relative;
    overflow: hidden
}

    .magnifier-preview img {
        position: absolute;
        top: 0;
        left: 0
    }

.opaque {
    opacity: .5;
    filter: alpha(opacity=50);
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50)
}

.hidden {
    display: none
}

.slidecontainer {
    width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider {
    -webkit-appearance: none; /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

    /* Mouse-over effects */
    .slider:hover {
        opacity: 1; /* Fully shown on mouse-over */
    }

    /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
    .slider::-webkit-slider-thumb {
        -webkit-appearance: none; /* Override default look */
        appearance: none;
        width: 25px; /* Set a specific slider handle width */
        height: 25px; /* Slider handle height */
        background: #04AA6D; /* Green background */
        cursor: pointer; /* Cursor on hover */
    }

    .slider::-moz-range-thumb {
        width: 25px; /* Set a specific slider handle width */
        height: 25px; /* Slider handle height */
        background: #04AA6D; /* Green background */
        cursor: pointer; /* Cursor on hover */
    }






/* MEDIA QUERIES */
/* Large desktop */
@media (max-width: 1200px) {
   
}
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
}

@media (max-width: 991px) {

   
}
/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
   .filter-column{
       display: none;
   }
   .product-column{
       width: 100%;
   }
}

@media (max-width: 767px) {

    
}
/* Landscape phones and down */

@media (max-width: 480px) {
  
    .overlay-text-container{
        right: 0px;
    }
   .half-block{
       width: 100%;
       margin-top: 30px;
   }
   .product-card{
       width: 100%;
   }
   
}